<!DOCTYPE html>
<html th:replace="~{plantilla_admin :: layout_base(~{::section}, ~{})}" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<section>

    <style>


        .icon-container-fixed {
            width: 60px;
            text-align: center;
            flex-shrink: 0;
        }

        p{
            font-size: 1rem !important;
            padding-top: 1.2rem !important;
            padding-bottom: 1.2rem !important;
        }


        .row.mb-4 {
            margin-top: 4rem !important;
            margin-bottom: 3rem !important;
        }


    </style>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Bienvenido al Sistema</h1>
        </div>

        <hr class="sidebar-divider mb-4">
        <div class="row mb-4">

            <div class="col-md-6 col-sm-6 mb-3"> <div class="d-flex align-items-center">
                <div class="mr-3 text-primary">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div>
                    <span class="font-weight-bold text-gray-800">Gestión de Usuarios</span>
                    <p class="small text-gray-600 mb-0">Para invitar nuevos miembros al equipo o actualizar
                        el estado de los miembros existentes, dirigete a la barra lateral izquierda y
                        ve las opciones disponibles debajo de <b>"Gestión de Usuarios"</b>
                    </p>
                </div>
            </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-3"> <div class="d-flex align-items-center">
                <div class="mr-3 text-info">
                    <i class="fas fa-file-invoice fa-2x"></i>
                </div>
                <div>
                    <span class="font-weight-bold text-gray-800">Formularios y Datos</span>
                    <p class="small text-gray-600 mb-0">
                        Encontraras una lista desplegable, con opciones para crear secciones y preguntas para el estudio, asi como
                        para ingresar los datos / respuestas de un nuevo sujeto de estudio,
                        modificar los datos / respuestas de uno existente, entre otros,
                        en el menú <b>"Formularios"</b> en la barra lateral izquierda.</b>
                    </p>
                </div>
            </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-3"> <div class="d-flex align-items-center">
                <div class="mr-3 text-warning">
                    <i class="fas fa-file-download fa-2x"></i>
                </div>
                <div>
                    <span class="font-weight-bold text-gray-800">Exportar</span>
                    <p class="small text-gray-600 mb-0">Para generar un Excel con los
                        datos registrados en el sistema y descargarlo,
                        ve a la opción <b>"Exportar"</b> en el menú de la barra lateral izquierda.</p>
                </div>
            </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-3"> <div class="d-flex align-items-center">
                <div class="mr-3 text-danger">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                </div>
                <div>
                    <span class="font-weight-bold text-gray-800">Salir</span>
                    <p class="small text-gray-600 mb-0">Haz clic en el recuadro en la esquina superior derecha y selecciona
                        <b>"Cerrar Sesión"</b>
                        para terminar la sesión actual.</p>
                </div>
            </div>
            </div>

        </div>
        <hr class="sidebar-divider mb-4">
    </div>

</section>

</body>
</html>