<!DOCTYPE html>
<html th:replace="~{/plantilla_admin :: layout_base(~{::section}, ~{})}" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<section>

    <div class="container-fluid">
        <!-- linea de inicio-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">¡Bienvenido al Sistema!</h1>
            <!-- aqui tenemos que añadir más cosas, pero de momento no se me ocurre qué -->
        </div>
        <!-- linea de fin-->
    </div>

</section>

</body>
</html>