<!DOCTYPE html>
<html th:replace="~{plantilla_admin :: layout_base(~{::section}, ~{})}" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<section>
    <style>

        .container {padding: 20px; border-radius: 8px; }
        .form-group { margin-bottom: 15px; }
        label { display: block; margin-bottom: 5px; font-weight: bold; }
        input[type="text"], input[type="number"] { width: 95%; padding: 8px; }
        button { padding: 10px 15px; background-color: #007bff; color: white; border: none; }
    </style>
    <div class="container-fluid">
        <!-- linea de inicio-->
        <div class="container">
            <h1>Crear Nueva Sección</h1>

            <form th:action="@{/admin/seccion/guardar}" method="post" th:object="${seccion}">

                <div class="form-group">
                    <label for="nombre">Nombre de la Sección</label>
                    <input type="text" id="nombre" th:field="*{nombre}" required>
                </div>

                <div class="form-group">
                    <label for="numero">Número de Orden</label>
                    <input type="number" id="numero" th:field="*{numero}" required>
                </div>

                <button type="submit">Guardar Sección</button>
                <a th:href="@{/admin/crear-formulario}">Cancelar</a>
            </form>
        </div>
        <!-- linea de fin-->
    </div>

</section>


</body>
</html>